<!DOCTYPE html>
<html>

<head>
    <!--ws:引用公共样式 -->
    <!-- ws: public style -->
    <title>用友云-企业服务都在这</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="spm-id" content="5176">
    <meta name="description" content="上百万家企业正享用用友云提供的SaaS应用、企业云解决方案、企业专业云应用软件、企业数据服务、企业安全服务，企业运营服务。">
    <meta name="keyword" content="用友云，大数据，企业互联网，商业分析平台,数据平台,云平台,动态建模,企业社交,中间件,开放平台,开发平台,用友">
    <link rel="stylesheet" type="text/css" href="../css/aliheader.css" />
    <link rel="stylesheet" type="text/css" href="../vendor/font/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../vendor/purecss/grids.min.css" />
    <!-- we: public style -->
    <!--we:引用公共样式 -->
</head>

<body class="index lazybox" style="visibility:visible;" data-header-tab="index">
    <!--ws:引用公共头 -->
    <!--ws:公共头部导航-->
    <div class="container-whole conheader">
        <div class="container commonheader">
            <div class="commonheader_top">
                <div class="topleft pure-u-4-24">
                    <a href="/">
                        <!-- <img src="../images/public/cloudlogo.png"> -->
                        <i class="uf uf-yycloud"></i>
                    </a>
                </div>
                <div class="topmiddle pure-u-14-24">
                    <ul class="nav nav-tabs" id="headTab">
                        <li role="presentation">
                            <a data-header-tab="index" href="./index.html">首页</a>
                        </li>
                        <li role="presentation" id="product">
                            <a class="a_stop" data-header-tab="cloudService">企业服务<i class="uf uf-arrow-down"></i></a>
                        </li>
                        <li role="presentation">
                            <a target="_blank" href="https://market.yonyoucloud.com">云市场</a>
                        </li>
                        <li role="presentation" id="solutions">
                            <a class="a_stop" data-header-tab="solution">云平台<i class="uf uf-arrow-down"></i></a>
                        </li>
                        <li role="presentation">
                            <a data-header-tab="cooperEcology" href="./cooperativeEcology.html">生态合作</a>
                        </li>
                        <li role="presentation">
                            <a href="./cloudClient.html" data-header-tab="cloudlient">成功客户</a>
                        </li>
                        <li role="presentation" id="collaboration">
                            <a data-header-tab="trends" href="./activity.html">动态</a>
                        </li>
                    </ul>
                    <div class="line"></div>
                </div>
                <div class="topright pure-u-5-24">
                    <div class="pre_login ">
                        <div class="rightfont dn">
                            <span class="btn-leave">退出</span>
                        </div>
                        <div class="rightfont">
                            <span class="btn-register">注册</span>
                        </div>
                        <div class="leftfont">
                            <span class="btn-logo">登录</span>
                        </div>
                    </div>
                    <ul class="header_navbar-nav dn">
                        <li class="header_dropdown">
                            <a role="button" href="javascript:void (0);">
                                <span class="leftfont_spec">
                                <i aria-hidden="true" class="btn-logo">登录</i>
                            </span>
                                <span class="caret">
                                <i class="uf uf-arrow-down"></i>
                            </span>
                            </a>
                            <ul role="menu" class="header_dropdown-menu">
                                <li role="presentation">
                                    <a role="menuitem" target="_blank" href="/market/userconfig">
                                   帐号设置
                                </a>
                                </li>
                                <li role="presentation" class="rightfont">
                                    <a role="menuitem" class="btn-leave">
                                    退出帐号
                                </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="header_search">
                        <i id="headerSearch" class="uf uf-search-light-2"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- ws:弹出头部tab的内容部分 产品部分-->
        <div class="toptab-content dn" id="conproduct">
            <div class="container">
                <!--ws:产品左第一级分类-->
                <div class="toptab-content_left">
                    <ul class="toptab-ul_left">
                        <li class="active" aria-height="200">
                            <a index="#solutionAll">用友云概览</a>
                            <i class="uf uf-arrow-right"></i>
                        </li>
                        <li aria-height="280">
                            <a index="#cloudSer">领域云服务</a>
                            <i class="uf uf-arrow-right"></i>
                        </li>
                        <li aria-height="280">
                            <a index="#tradeSolution">行业云服务</a>
                            <i class="uf uf-arrow-right"></i>
                        </li>
                    </ul>
                </div>
                <!--we:产品左第一级分类-->
                <!--ws:产品左第二级分类-->
                <!--we:产品左第二级分类-->
                <!--ws:产品左第三级分类-->
                <div class="toptab-content_right ">
                    <!-- ws:一级item对应的全部三级菜单 -->
                    <ul class="toptab-ul_right " id="solutionAll">
                        <li>
                            <a href="./solution_all.html">全新商业智慧
                          <i class="spriter-icon solutionAll-1"></i>
                        </a>
                        </li>
                        <li>
                            <a href="./solution_all.html#busiAccount">全新企业计算
                          <i class="spriter-icon solutionAll-2"></i>
                        </a>
                        </li>
                        <li>
                            <a href="./solution_all.html#here">企业服务都在这
                          <i class="spriter-icon solutionAll-3"></i>
                        </a>
                        </li>
                    </ul>
                    <!-- we:一级item对应的全部三级菜单 -->
                    <!-- ws:一级item对应的全部三级菜单 -->
                    <ul class="toptab-ul_right dn" id="cloudSer">
                        <li>
                            <a href="cloud_finance.html">财务云
                          <i class="spriter-icon cloudSer-1"></i>
                        </a>
                        </li>
                        <li>
                            <a href="cloud_hr.html">人力云
                          <i class="spriter-icon cloudSer-2"></i>
                        </a>
                        </li>
                        <li>
                            <a href="cloud_assist.html">协同云
                          <i class="spriter-icon cloudSer-3"></i>
                        </a>
                        </li>
                        <li>
                            <a href="cloud_sales.html">营销云
                          <i class="spriter-icon cloudSer-4"></i>
                        </a>
                        </li>
                        <li>
                            <a href="cloud_buy.html">采购云
                          <i class="spriter-icon cloudSer-5"></i>
                        </a>
                        </li>
                        <li style="visibility:hidden;opacity:0;">
                            <a href="cloud_sales.html">
                                <img class="icon-img" src="">
                                <img class="icon-img_hover light" src="">
                            </a>
                        </li>
                        <li>
                            <a href="cloud_ebill.html">电子发票
                          <i class="spriter-icon cloudSer-6"></i>
                        </a>
                        </li>
                        <li>
                            <a href="cloud_connect.html">云通信
                          <i class="spriter-icon cloudSer-7"></i>
                        </a>
                        </li>
                    </ul>
                    <!-- we:一级item对应的全部三级菜单 -->
                    <!-- ws:一级item对应全部三级菜单 -->
                    <ul class="toptab-ul_right dn" id="tradeSolution">
                        <li class="active">
                            <a target="_blank" href="http://nc.yonyou.com/NC/solution/jz/jz_solution.aspx">建筑
                            <i class="spriter-icon tradeSolution-1"></i>
                        </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.yonyoufinancial.com/index.php?m=content&c=index&a=lists&catid=11">金融
                          <i class="spriter-icon tradeSolution-2"></i>
                        </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://nc.yonyou.com/NC/solution/zz/mt_solution.aspx">能源
                          <i class="spriter-icon tradeSolution-3"></i>
                        </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://nc.yonyou.com/NC/solution/zz/sczxxt_solution.aspx">制造
                          <i class="spriter-icon tradeSolution-4"></i>
                        </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://auto.yonyou.com/IT_Solutions/zhengche/IT_zhengche-index.html">汽车
                          <i class="spriter-icon tradeSolution-5"></i>
                        </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.seentao.com/Solution/index">教育
                          <i class="spriter-icon tradeSolution-6"></i>
                        </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.yonyouhit.com/HRPG.html">医疗
                          <i class="spriter-icon tradeSolution-7"></i>
                        </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.uf-tobacco.com/plan_list.html?name=all">烟草
                          <i class="spriter-icon tradeSolution-8"></i>
                        </a>
                        </li>
                    </ul>
                    <!-- we:一级item对应全部三级菜单 -->
                </div>
                <!--we:产品左第三级分类-->
                <!--ws:向上关闭小箭头-->
                <div id="topTabArrow" class="toptab-content_arrow">
                </div>
                <!--we:向上关闭小箭头-->
            </div>
        </div>
        <!-- we:弹出头部tab的内容部分 产品部分-->
        <!-- ws:弹出头部tab的内容部分 解决方案部分-->
        <div class="toptab-content dn" id="consolutions">
            <div class="container">
                <!--ws:解决方案左第三级分类-->
                <div class="toptab-content_right ">
                    <!-- ws:一级item对应全部三级菜单-->
                    <ul class="toptab-ul_right " id="areaSolution">
                        <li class="active">
                            <a href="cloud_platform.html">云平台简介
                          <i class="spriter-icon areaSolution-1"></i>
                        </a>
                        </li>
                        <li>
                            <a target="_blank" href="//apcenter.yonyoucloud.com/apptenant">企业应用中心
                          <i class="spriter-icon areaSolution-2"></i>
                        </a>
                        </li>
                        <li class="">
                            <a target="_blank" href="https://developer.yonyoucloud.com">开发者中心
                          <i class="spriter-icon areaSolution-3"></i>
                        </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://udn.yyuap.com/">UDN社区
                          <i class="spriter-icon areaSolution-4"></i>
                        </a>
                        </li>
                    </ul>
                    <!-- we:一级item对应全部三级菜单-->
                </div>
                <!--we:解决方案左第三级分类-->
                <!--ws:向上关闭小箭头-->
                <div id="topTabArrow2" class="toptab-content_arrow">
                </div>
                <!--we:向上关闭小箭头-->
            </div>
        </div>
        <!-- we:弹出头部tab的内容部分 解决方案部分-->
        <!-- ws:弹出头部topsearch的内容部分 搜索部分-->
        <div class="topsearch-content dn " id="search_header">
            <div class="container">
                <!-- start 搜索 -->
                <div class="inputgroup">
                    <div id="myform">
                        <input class="J_SearchText inputContent" type="text" name="keyword" placeholder="输入您想要了解的问题、关键词或者是云产品名称" />
                        <input class="inputcontrol" id="inputcontrol" value="搜索" type="button" />
                    </div>
                </div>
                <!-- end 搜索 -->
                <!--ws:向上关闭小箭头-->
                <div id="topSearchArrow" class="toptab-content_arrow ">
                </div>
                <!--we:向上关闭小箭头-->
            </div>
        </div>
        <!-- we:弹出头部topsearch的内容部分 搜索部分-->
    </div>
</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="../js/aliheader.js"></script>

</html>
