<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>云官网与云市场的动画效果</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
</head>

<body class="index">
    <!-- start：动画效果1 -->
    <div class="animation-1-section ">
        <span class="title">动画效果1</span>
        <ul class="animation-1 clearfix">
            <li class="client-tab-item ">
                <div class="cloud-client-img">
                    <div class="img-middle">
                        <img src="../images/client/sales/logo02.jpg">
                    </div>
                </div>
                <div class="cloud-client-desc">
                    <p class="desc-top">三禾厨具</p>
                    <p class="desc-bottom">重塑经销商管理</p>
                </div>
                <div class="overlay">
                    <div class="overlay-top">
                        <p class="overlay-desc-top">三禾厨具</p>
                        <p class="overlay-desc-bottom">重塑经销商管理</p>
                    </div>
                    <div class="overlay-bottom">
                        <a href="client_sales_02.html"><span>了解更多</span></a>
                    </div>
                </div>
            </li>
            <!-- we:item -->
            <li class="client-tab-item ">
                <div class="cloud-client-img">
                    <div class="img-middle">
                        <img src="../images/client/sales/logo03.jpg">
                    </div>
                </div>
                <div class="cloud-client-desc">
                    <p class="desc-top">南孚电池</p>
                    <p class="desc-bottom">轻松搞定一切订货</p>
                </div>
                <div class="overlay">
                    <div class="overlay-top">
                        <p class="overlay-desc-top">南孚电池</p>
                        <p class="overlay-desc-bottom">轻松搞定一切订货</p>
                    </div>
                    <div class="overlay-bottom">
                        <a href="client_sales_03.html"><span>了解更多</span></a>
                    </div>
                </div>
            </li>
            <li class="client-tab-item ">
                <div class="cloud-client-img">
                    <div class="img-middle">
                        <img src="../images/client/sales/logo05.jpg">
                    </div>
                </div>
                <div class="cloud-client-desc">
                    <p class="desc-top">美创医疗</p>
                    <p class="desc-bottom">互联网营销新时代</p>
                </div>
                <div class="overlay">
                    <div class="overlay-top">
                        <p class="overlay-desc-top">美创医疗</p>
                        <p class="overlay-desc-bottom">互联网营销新时代</p>
                    </div>
                    <div class="overlay-bottom">
                        <a href="client_sales_05.html"><span>了解更多</span></a>
                    </div>
                </div>
            </li>
            <li class="client-tab-item ">
                <div class="cloud-client-img">
                    <div class="img-middle">
                        <img src="../images/client/sales/logo08.jpg">
                    </div>
                </div>
                <div class="cloud-client-desc">
                    <p class="desc-top">艾泰科技</p>
                    <p class="desc-bottom">经销商服务体系 助力渠道拓展</p>
                </div>
                <div class="overlay">
                    <div class="overlay-top">
                        <p class="overlay-desc-top">艾泰科技</p>
                        <p class="overlay-desc-bottom">经销商服务体系 助力渠道拓展</p>
                    </div>
                    <div class="overlay-bottom">
                        <a href="client_sales_08.html"><span>了解更多</span></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- end:动画效果1 -->
    <!-- strat:动画效果2 -->
    <div class="animation-2-section">
        <span>动画效果2</span>
        <ul class="animation-2">
            <li class="block-item">
                <div class="block-display-show">
                    <div class="block-display-img">
                        <div class="img-middle">
                            <img src="../images/solution_all/icon20.svg">
                        </div>
                    </div>
                    <div class="">连接</div>
                </div>
                <div class="block-display-overlay">
                    <p class="overlay-title">连接</p>
                    <p>
                        连接外部互联网服务商，联合社会管理资源，为企业打造高效率、低成本的社会资源与经营环境，完成社会化互通互联
                    </p>
                </div>
            </li>
            <li class="block-item">
                <div class="block-display-show">
                    <div class="block-display-img">
                        <div class="img-middle">
                            <img src="../images/solution_all/icon21.svg">
                        </div>
                    </div>
                    <div class="">共享</div>
                </div>
                <div class="block-display-overlay">
                    <p class="overlay-title">共享</p>
                    <p>
                        基于社会化共享趋势构建共享服务与资源运营平台，实现企业全员参与，社会化资源共享经济，完成企业平台化管理的转变
                    </p>
                </div>
            </li>
            <li class="block-item">
                <div class="block-display-show">
                    <div class="block-display-img">
                        <div class="img-middle">
                            <img src="../images/solution_all/icon22.svg">
                        </div>
                    </div>
                    <div class="">协同</div>
                </div>
                <div class="block-display-overlay">
                    <p class="overlay-title">协同</p>
                    <p>
                        业务协同，上升到产业协同，实现生态链交易自动化，信息透明化，业务电商化
                    </p>
                </div>
            </li>
            <li class="block-item">
                <div class="block-display-show">
                    <div class="block-display-img">
                        <div class="img-middle">
                            <img src="../images/solution_all/icon23.svg">
                        </div>
                    </div>
                    <div class="">数据</div>
                </div>
                <div class="block-display-overlay">
                    <p class="overlay-title">数据</p>
                    <p>
                        通过交易、业务、管理的数据化，实现社会化大数据，并基于机器学习，人工智能等技术应用，实现企业数字驱动与商业创新
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <!-- end:动画效果2 -->
</body>

</html>
